.container {
    display: grid;
    align-items: center;
  }
  
  #search-bar {
    width: 50%;
    height: 3rem;
    padding: 0 1rem;
    font-size: initial;
    text-align: center;
    border-radius: 50px;
  }
  .background{
    background-image: url("https://www.hoteliermiddleeast.com/public/images/2018/10/26/Khyber5.jpg");
    background-repeat: no-repeat;
    height:100%;
    width: 150vw;
    background-size: cover;
    color: white;
  }