.container {
    /* max-width: 1200px; */
    width: 100%;
   
    min-height: 75vh;
  }
  
  .container * + * {
    margin-top: 1rem;
    
  }
  
  .buttons {
    margin-top: 0;
  }
  p,h1{
    color: white;
  }

