@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23242a;
  color: #eaeff0;
  text-align: center;
  position: relative;
  min-height: 100vh;
  color: #eb892e;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
  font-family: "Courgette", cursive;
}

p {
  max-width: 66ch;
  margin: 0 auto;
  line-height: 1.7;
  font-family: "Courgette", cursive;
}

p,
a {
  font-size: 1.375rem;
}


button {
  font-family: "Courgette", cursive;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #eea022;
  color: #23242a;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  transform: scale(0.9);
}

img {
  width: 80px;
}

:focus {
  outline: 2px solid #eaeff0;
  outline-offset: 5px;
}
